html {
    scroll-behavior: smooth;
}

.nav-link:hover {
    text-decoration: underline;
}

.carousel-item img {
    width: 100%;
    height: 100vh;
    object-position: center;
    object-fit: cover;
}

.margin-top {
    margin-top: 100px;
}

.wed-img img {
    width: 546px;
    height: 364px;
}

.wedding-width {
    width: 503px;
    height: 218px;
    margin-left: 35px;
}

/* Toast */
.toast-fixed-height {
    height: 50px;
    width: 320px;
    bottom: 50%;
    right: 0%;
    
}

/* positioning hot logo */
.hot-logo {
    font-size: 12px;
    top: -8px;
    right: 20px;
}

/* clients img  */
.fixed-client-img {
    width: 25%;
    height: 45%;
}

@media screen and (max-width: 767.99px) {
    .margin-top {
        margin-top: 50px;
    }

    .wed-img {
        margin-top: 25px;
    }

    .wed-img img {
        max-width: 100%;
        height: 364px;
    }

    .wedding-width {
        width: 100%;
        height: 214px;
        margin-left: 0;
    }

}